@{
    ViewData["Title"] = "Listagem da Base";
}

<h1 class="display-4">Listagem da Base</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Data de Venda</th>
            <th scope="col">Operadora de F&I</th>
            <th scope="col">Vendedor</th>
            <th scope="col">Cliente</th>
            <th scope="col">E-mail</th>
            <th scope="col">Fone</th>
            <th scope="col">Novo / Usado</th>
            <th scope="col">Tipo Venda</th>
            <th scope="col">Valor da Venda</th>
            <th scope="col">Valor da Entrada</th>
            <th scope="col">Valor Financiado</th>
            <th scope="col">Banco</th>
            <th scope="col">Tabela (R)</th>
            <th scope="col">Tipo Tabela</th>
            <th scope="col">Status Ficha</th>
            <th scope="col">Pago</th>
            <th scope="col">N° De Paecelas</th>
            <th scope="col">Retorno</th>
            <th scope="col">Valor do Emplacamento</th>
            <th scope="col">SPMC</th>
            <th scope="col">Valor Bruto do SPMC</th>
            <th scope="col">Seguro Novo</th>
            <th scope="col">Renovação Seguro</th>
            <th scope="col">Data Renavação Seguro</th>
            <th scope="col">GAP</th>
            <th scope="col">Valor Bruto do GAP</th>
            <th scope="col">OnStar</th>
            <th scope="col">GMAC - Parcela Protegida</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a role="button" class="btn btn-primary">Editar</a>
                    <a role="button" class="btn btn-danger">Apagar chiclete</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
        </tr>
    </tbody>
</table>
